parameters:
	ignoreErrors:
		-
			message: "#^Foreach overwrites \\$ifEmpty with its value variable\\.$#"
			count: 1
			path: src/Current.php

		-
			message: "#^Method loophp\\\\fpt\\\\Curry\\:\\:curryN\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Curry.php

		-
			message: "#^Method loophp\\\\fpt\\\\Curry\\:\\:getArguments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Curry.php

		-
			message: "#^Method loophp\\\\fpt\\\\CurryLeft\\:\\:getArguments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CurryLeft.php

		-
			message: "#^Method loophp\\\\fpt\\\\CurryRight\\:\\:getArguments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CurryRight.php

		-
			message: "#^Foreach overwrites \\$ifEmpty with its value variable\\.$#"
			count: 1
			path: src/End.php

		-
			message: "#^Unable to resolve the template type T in call to method static method loophp\\\\fpt\\\\Partial\\:\\:getArguments\\(\\)$#"
			count: 1
			path: src/Partial.php

		-
			message: "#^Unable to resolve the template type U in call to method static method loophp\\\\fpt\\\\Partial\\:\\:getArguments\\(\\)$#"
			count: 1
			path: src/Partial.php

